.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.brand-img-logo {
  width: 200px;
  height: auto;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
  font-size: 3.5rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
  font-size: 3.5rem;
  }
}

.slider-text {
  background-color: rgba(0,0,0, 0.6);
  padding-left: 0px;
}

.btn-color-main {
  background-color: #dfb0f6;
}

.icon-btns {
  color: black;
}

.icon-btns:hover {
  color: #dfb0f6;
}


/* womens section */
.bd-womens-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-womens-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
